<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>DF_shuye.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,984},{32,54}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,37},{32,54}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>DF_zi_shengli2.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,323},{256,140}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,42},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Point_guang.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,318},{116,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{116,116}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>blastmark7_diffuse.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,324},{254,254}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{254,254}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>ef_feiji.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,713},{278,138}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,107},{278,138}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>ef_guangmang0060.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,132},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ef_guangmang0159.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,2},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ef_guangmang0462.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,2},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ef_saoguang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,984},{30,17}}</string>
                <key>offset</key>
                <string>{-16,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,17}}</string>
                <key>sourceSize</key>
                <string>{62,105}</string>
            </dict>
            <key>ef_saoguang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,984},{56,33}}</string>
                <key>offset</key>
                <string>{-3,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,33}}</string>
                <key>sourceSize</key>
                <string>{62,105}</string>
            </dict>
            <key>ef_saoguang3.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,2},{62,47}}</string>
                <key>offset</key>
                <string>{0,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,47}}</string>
                <key>sourceSize</key>
                <string>{62,105}</string>
            </dict>
            <key>ef_saoguang4.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,262},{62,51}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{62,51}}</string>
                <key>sourceSize</key>
                <string>{62,105}</string>
            </dict>
            <key>ef_saoguang5.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,262},{62,51}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{62,51}}</string>
                <key>sourceSize</key>
                <string>{62,105}</string>
            </dict>
            <key>ef_saoguang6.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,262},{62,51}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,40},{62,51}}</string>
                <key>sourceSize</key>
                <string>{62,105}</string>
            </dict>
            <key>ef_saoguang7.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,425},{62,49}}</string>
                <key>offset</key>
                <string>{0,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,55},{62,49}}</string>
                <key>sourceSize</key>
                <string>{62,105}</string>
            </dict>
            <key>ef_saoguang8.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,984},{54,33}}</string>
                <key>offset</key>
                <string>{4,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,72},{54,33}}</string>
                <key>sourceSize</key>
                <string>{62,105}</string>
            </dict>
            <key>ef_saoguang9.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,984},{30,19}}</string>
                <key>offset</key>
                <string>{16,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,86},{30,19}}</string>
                <key>sourceSize</key>
                <string>{62,105}</string>
            </dict>
            <key>ef_shanguang_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,726},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>ef_zhadan.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,692},{148,158}}</string>
                <key>offset</key>
                <string>{3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,41},{148,158}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>ef_zhezhao.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,543},{128,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,64}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>fapai_bei.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,425},{84,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,6},{84,116}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>glow_00165_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,132},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>guangquan_249.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,2},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>guangquan_306.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,894},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>js_bt_hb.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,853},{381,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{381,91}}</string>
                <key>sourceSize</key>
                <string>{381,91}</string>
            </dict>
            <key>js_bt_hb_hs.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,465},{376,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{376,91}}</string>
                <key>sourceSize</key>
                <string>{376,91}</string>
            </dict>
            <key>js_bt_pd.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,558},{361,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{361,68}}</string>
                <key>sourceSize</key>
                <string>{361,68}</string>
            </dict>
            <key>js_bt_pd_hs.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,946},{361,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{361,68}}</string>
                <key>sourceSize</key>
                <string>{361,68}</string>
            </dict>
            <key>js_bt_pj.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,2},{265,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,137}}</string>
                <key>sourceSize</key>
                <string>{265,137}</string>
            </dict>
            <key>js_bt_sb.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,2},{266,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,137}}</string>
                <key>sourceSize</key>
                <string>{266,137}</string>
            </dict>
            <key>js_bt_sl.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,580},{301,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{301,131}}</string>
                <key>sourceSize</key>
                <string>{301,131}</string>
            </dict>
            <key>js_hs_g.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,628},{179,162}}</string>
                <key>offset</key>
                <string>{6,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{179,162}}</string>
                <key>sourceSize</key>
                <string>{191,194}</string>
            </dict>
            <key>js_hs_hs.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,946},{120,76}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{120,76}}</string>
                <key>sourceSize</key>
                <string>{124,86}</string>
            </dict>
            <key>js_hs_qz.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,688},{124,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,143}}</string>
                <key>sourceSize</key>
                <string>{124,143}</string>
            </dict>
            <key>js_zjs_dyj.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,946},{62,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,105}}</string>
                <key>sourceSize</key>
                <string>{62,105}</string>
            </dict>
            <key>milu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{262,320}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,38},{262,320}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>paibei2_muhu01.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,132},{78,128}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{78,128}}</string>
                <key>sourceSize</key>
                <string>{100,128}</string>
            </dict>
            <key>paibei2_muhu02.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,132},{100,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,128}}</string>
                <key>sourceSize</key>
                <string>{100,128}</string>
            </dict>
            <key>paibei2_muhu03.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,315},{98,108}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{98,108}}</string>
                <key>sourceSize</key>
                <string>{100,128}</string>
            </dict>
            <key>px_dd.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,628},{200,62}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,99},{200,62}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>px_z_by.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,269},{96,52}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,102},{96,52}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>px_z_hk.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,628},{154,58}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,100},{154,58}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>px_z_ld.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,269},{108,52}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,102},{108,52}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>px_z_sde.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,792},{126,56}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,99},{126,56}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>px_z_sld.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,270},{154,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,102},{154,52}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>px_z_sz.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,262},{94,54}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,99},{94,54}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>px_z_zd.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,792},{100,56}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,99},{100,56}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>yxn_bj_hs.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,558},{20,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,23}}</string>
                <key>sourceSize</key>
                <string>{20,23}</string>
            </dict>
            <key>yxn_bj_hs3.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,946},{20,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{20,24}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>yxn_bj_hs_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,984},{38,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,47}}</string>
                <key>sourceSize</key>
                <string>{38,47}</string>
            </dict>
            <key>zgh.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,852},{232,92}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,210},{232,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zgh1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{400,174}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,23},{400,174}}</string>
                <key>sourceSize</key>
                <string>{400,226}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ef_tietu.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:af30b6046e1f56082951b96f8fc165f1$</string>
            <key>textureFileName</key>
            <string>ef_tietu.png</string>
        </dict>
    </dict>
</plist>
